* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html nav,
body nav {
  height: 100px;
  padding: 10px 40px;
  background-color: antiquewhite;
  display: flex;
  justify-content: end;
  align-items: center;
}
html nav img,
body nav img {
  height: 80px;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%, 0);
}
html nav ul,
body nav ul {
  display: inline-block;
}
html nav ul li,
body nav ul li {
  list-style-type: none;
  display: inline-block;
}
html nav ul li button,
body nav ul li button {
  margin: 0 30px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 6px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
html nav ul li button:hover,
body nav ul li button:hover {
  border-bottom: 1px solid gray;
  color: gray;
}
html nav ul li a,
body nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  margin-left: 12px;
}
html section.register,
body section.register {
  padding: 5rem 15%;
}
html section.register h1,
body section.register h1 {
  text-align: center;
  font-size: 3.5rem;
}
html section.register hr,
body section.register hr {
  margin: 20px 0;
}
html section.register h2,
body section.register h2 {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 12px;
}
html section.register div#login-form,
body section.register div#login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 2rem;
}
html section.register div#login-form ul,
body section.register div#login-form ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html section.register div#login-form ul li,
body section.register div#login-form ul li {
  list-style-type: none;
  text-align: right;
  padding-top: 1rem;
  margin-bottom: 36px;
}
html section.register div#login-form ul li label,
html section.register div#login-form ul li input,
body section.register div#login-form ul li label,
body section.register div#login-form ul li input {
  font-size: 1.5rem;
}
html section.register div#login-form ul li input,
body section.register div#login-form ul li input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
}
html section.register div#login-form div.button-box,
body section.register div#login-form div.button-box {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
html section.register div#login-form div.button-box p,
body section.register div#login-form div.button-box p {
  margin-bottom: 20px;
  color: red;
  font-size: 1.25rem;
  font-weight: 600;
}
html section.register div#login-form div.button-box button,
body section.register div#login-form div.button-box button {
  padding: 0.5rem 1.5rem;
  margin: 0 20px;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 1.5rem;
}
html section.register div#login-form div.button-box button.reset,
body section.register div#login-form div.button-box button.reset {
  background-color: rgb(46, 180, 180);
}
html section.register div#login-form div.button-box button.submit,
body section.register div#login-form div.button-box button.submit {
  background-color: rgb(148, 28, 24);
}
html section.register div#login-form a#toRegister,
body section.register div#login-form a#toRegister {
  float: right;
  margin-top: 20px;
  font-size: 1.25rem;
}
html footer,
body footer {
  background-color: rgb(100, 100, 100);
  text-align: center;
  padding: 1.5rem;
}
html footer div.top a,
html footer div.top span,
body footer div.top a,
body footer div.top span {
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  margin: 0 0.25rem;
}
html footer div.icon,
body footer div.icon {
  padding: 0.5rem;
}
html footer div.icon a,
body footer div.icon a {
  margin: 0 0.75rem;
}
html footer div.icon a img,
body footer div.icon a img {
  height: 30px;
  width: 30px;
}
html footer div.contact,
body footer div.contact {
  margin: 12px 0;
}
html footer div.contact i,
body footer div.contact i {
  margin-left: 1r;
}
html footer div.copyRight,
body footer div.copyRight {
  margin: 12px 0;
}/*# sourceMappingURL=style.css.map */